@use '../../../scss/variables' as var;

.range-event {
  height: 200px;
  margin-top: 2rem;
  position: relative;
  margin-left: -3px;
  
  border-left: 3px solid var.$color-primary--orange;


  &__header {
    position: relative;
    top: 0;
    transform: translateY(-50%);

  }

  &__time {
    position: absolute;
    left: -3.5rem;
  }


  &__time--start {
    top: 0;
    transform: translateY(-50%);
  }

  &__time--end {
    bottom: 0;
    transform: translateY(50%);
  }

  &__children {
    // height: 100%;
  }

}// .range-event