@keyframes open-sheet {
  0% {transform: translateY(90%)}
  100% {transform: translateY(0)}
}

.bottom-sheet {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: rgba(0,0,0,.5);
  
  &__content {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    height: 90%;
    background-color: rgba(255,255,255,1);
    padding: 3em 1em;
  
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    
    animation-name: open-sheet;
    animation-duration: .2s;
    animation-timing-function: cubic-bezier(.02,1.03,.95,.86);
    animation-fill-mode: forwards;
  }
}//