@use '../../../scss/variables' as var;

.event-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .35em;


  &__value {
    font-weight: bold;
  }

  &__circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    // position: absolute;
    // right: -1.3rem;
    // top: 0;
    // z-index: 1;

    background: var.$color--grey-light;
    border: 2px solid var.$color--grey-dark;
  }

  &__circle--orange {
    background: var.$color-primary--orange-light;
    border: 2px solid var.$color-primary--orange;
  }

  &__circle--blue {
    background: var.$color--blue-light;
    border: 2px solid var.$color--blue;
  }

  &__circle--red {
    background: var.$color--red-light;
    border: 2px solid var.$color--red;
  }

  &__circle--green {
    background: var.$color--green-light;
    border: 2px solid var.$color--green;
  }
}

