@use '../../../scss/variables' as var;

.time-event {
  position: relative;
  display: flex;
  align-items: center;


  &__header {
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__time {
    position: absolute;
    left: -3.5rem;
  }

}// .event-range