.timeline {
  // height: 100%;
  position: relative;
  scroll-behavior: auto;
  width: 100%;
  background: #fff;
  // padding: 0 0 0 calc(.5em + 3rem);
  
  &__btn-add {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: #ececec;
    box-shadow: .0 .6em 1em -.5em rgba(0,0,0,.4);
  }
  
  &__icon-add {
    height: 30px;
    width: 30px;
  }
}// .timeline