.text-toggle {
  color: #D9D9D9;
  display: flex;
  flex-direction: column;
  gap: .4em;
  
  width: 50%;
  

  
  
  &__label {
    color: #808080;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .text-toggle__container {
    position: relative;
    display: block;
    
    height: 3.5rem;
    width: 100%;
    background-color: #ccc;
    cursor: pointer;
    
    border-radius: .7em;
    overflow: hidden;
  
    border-style: solid;
    border-width: 1px;
    border-color: #BFBFBF;
  }
  
  /* Hide default HTML checkbox */
  &__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  &__slider {
    //position: absolute;
    background-color: #7E7E7E;
    transition: .4s;
  
    height: 100%;
    width: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  //&__slider:before {
  //  position: absolute;
  //  content: "";
  //
  //  left: 4px;
  //  bottom: 4px;
  //  background-color: white;
  //  transition: .4s;
  //}
  
  &__input:checked + &__slider {
    background-color: #F39200;
    transform: translateX(100%);
    color: #FFE0B2;
  }
  
  &__input:focus + &__slider {
    box-shadow: 0 0 1px #2196F3;
  }
  

  /* Rounded sliders */
  //&__slider--round {
  //  border-radius: .5em;
  //}
  //
  //&__slider--round:before {
  //  border-radius: .5em;
  //}

}//
