@use '../../../scss/variables' as var;

.event {
  // position: relative;
  padding-left: .7em;
  /* padding-bottom: 1em; */
  /* margin-bottom: .3em; */

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    
  }

  &__header {
    display: flex;
    align-items: center;
    padding: .8em 1.2em;
    border-radius: 2em;
  
    color: var.$color--grey;

    background-color: var.$color--grey-light;
    transition: all .2s;
  }

  &__header:hover {
    transform: scale(1.01);
    box-shadow: .15em .15em .5em 0 rgba($color: #000000, $alpha: .35);
  }
  

  &__title {
    font-weight: bold;
  }



}// .event


///////////////////////////////////
// EVENT COLORS
///////////////////////////////////
.event--orange {
  .event__header {
    color: var.$color-primary--orange-dark;
    background-color: var.$color-primary--orange-light;
  }
}

.event--green {
  .event__header {
    color: var.$color--green-dark;
    background-color: var.$color--green-light;
  }
}

.event--blue {
  .event__header {
    color: var.$color--blue-dark;
    background-color: var.$color--blue-light;
  }
}

.event--red {
  .event__header {
    color: var.$color--red-dark;
    background-color: var.$color--red-light;
  }
}
