@use '../../../styles/variables' as var;

.timeline-slot {
  min-height: 100px;
  position: relative;
  padding: 0 0 2em;
  
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var.$color--grey-light-2;
  
  &__time {
    position: absolute;
    left: -3.5rem;
    transform: translateY(-50%);
  
  }
  
  &__events {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  &__event--header {
    position: relative;
    top: 0;
    transform: translateY(-50%);
    margin-bottom: -1.5em;
  }
}