@use '../../../styles/variables' as var;

.event {
  max-height: 50px;
  position: relative;
  color: var.$color--grey;
  font-weight: bold;

  &__indicator {
    position: absolute;
    top: 50%;
    left: -4rem;
    transform: translateY(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .4rem;
  }

  &__time {
    transition: all .2s;

  }

  &__time--checked {
    opacity: .5;
  }

  &__btn-check {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;

    border-color: transparent;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__checkbox {
    aspect-ratio: 1;
    width: 30px;
    height: 30px;
    color: #dedede;
    background-color: #fff;
  }

  &__content {
    position: relative;
    margin-left: 1.2rem;
    padding: .8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .5em;
    background-color: var.$color--grey-light;
    transition: all .2s;

    border-style: solid;
    border-width: 1.5px;
    border-color: transparent;

    // touch-action: none;
  }

  .event__content--orange {
    color: var.$color-primary--orange-dark;
    background-color: var.$color-primary--orange-light;
  }

  .event__content--green {
    color: var.$color--green-dark;
    background-color: var.$color--green-light;
  }

  .event__content--blue {
    color: var.$color--blue-dark;
    background-color: var.$color--blue-light;
  }

  .event__content--red {
    color: var.$color--red-dark;
    background-color: var.$color--red-light;
  }
  
  &__btn-move {
    border-radius: 50%;
    border-color: rgba(var.$color-primary--orange, .1);
    //border-color: transparent;
    border-style: solid;
    background-color: rgba(var.$color-primary--orange, .2);
    color: var.$color-primary--orange-dark;
    box-shadow: 0 .2em 1em -.3em rgba(0,0,0,.3);
    backdrop-filter: blur(3px);
    
    padding: .7em;
    //margin: 1em;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__btn-up {
    position: absolute;
    top: -80%;
    right: 0;
    
  }
  
  &__btn-down {
    position: absolute;
    bottom: -80%;
    right: 0;
    
  }
  
  &__icon-move {
    //width: 30px;
    //height: 30px;
  }

  @keyframes pop {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  &__checked {
    color: var.$color-primary--orange;
    transition: all .2s;
    animation-name: pop;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  &__content:hover {
    cursor: pointer;
  }
  
  &__content--selected {
    opacity: 1;
    border-color: var.$color-primary--orange;
    
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  &__content--checked {
    opacity: .5;
    background-color: var.$color-primary--orange-light;
    background: repeating-linear-gradient(-45deg, rgba(var.$color--grey, .3),
                                                  rgba(var.$color--grey, .3) 5px,
                                                  var.$color--grey-light-2 5px,
                                                  var.$color--grey-light-2 25px);
    border-style: solid;
    border-width: 1px;
    border-color: var.$color--grey-light;
  }



  &__left-section {
    //display: inline-block;
  }

  &__right-section {
    //display: inline;
  }

  &__title--checked {
    text-decoration-line: line-through;


  }



} // .event
