@use '../../../styles/variables' as var;

.event {
  max-height: 50px;
  position: relative;
  color: var.$color--grey;
  font-weight: bold;
  
  
  &__indicator {
    position: absolute;
    top: 50%;
    left: -4rem;
    transform: translateY(-50%);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .4rem;
  }
  
  &__time {
    transition: all .2s;

  }
  
  &__time--checked {
    opacity: .5;
  }
  
  &__btn-check{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    
    border-color: transparent;
    background-color: transparent;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__checkbox {
    aspect-ratio: 1;
    width: 30px;
    height: 30px;
    color: #dedede;
    background-color: #fff;
  }
  
  &__content {
    margin-left: 1.2rem;
    padding: .8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .5em;
    background-color: var.$color--grey-light;
    transition: all .2s;
  }
  
  .event__content--orange {
    color: var.$color-primary--orange-dark;
    background-color: var.$color-primary--orange-light;
  }
  
  .event__content--green {
    color: var.$color--green-dark;
    background-color: var.$color--green-light;
  }
  
  .event__content--blue {
    color: var.$color--blue-dark;
    background-color: var.$color--blue-light;
  }
  
  .event__content--red {
    color: var.$color--red-dark;
    background-color: var.$color--red-light;
  }
  
  @keyframes pop {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
  }
  
  &__checked {
    color: var.$color-primary--orange;
    transition: all .2s;
    animation-name: pop;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
  
  &__content:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // box-shadow: .15em .15em .5em 0 rgba($color: #000000, $alpha: .35);
  }
  
  &__content--checked {
    opacity: .5;
  }
  

  
  &__left-section {
    //display: inline-block;
  }
  
  &__right-section {
    //display: inline;
  }
  
  &__title--checked {
    text-decoration-line: line-through;
  
  
  }
  
  

}// .event





///////////////////////////////////
// EVENT COLORS
///////////////////////////////////

