//----------------- COLORS
$color-primary--yellow: #fed23f;
$color-rgb-raw-primary--yellow: 254, 210, 63;
$color-primary--blue: #015896;
$color-primary--dark-blue: #004678;
$color-rgb-raw-primary--dark-blue: 0, 70, 120;
$color-primary--light-blue: #B2CCDF;
$color-primary--light-blue-200: #3d7eab;
$color-rgb-raw-primary--light-blue: 178, 204, 223;

$color--shadow: rgba(0, 0, 0, 0.5);
$color--black: #000;
$color--white: #fff;

//----------------- FONTS
$font-family--base: 'Roboto', sans-serif;


//----------------- SIZES/LENGTHS
$size--border-radius: .5em;


