//----------------- COLORS
$color-primary--orange: #F39200;
$color-primary--orange-light: #ffe0b2;
$color-primary--orange-dark: #774800;

$color--grey: #515050;
$color--grey-light: #DDDDDD;
$color--grey-dark: #000;

$color--green: #4caf4f;
$color--green-light: #A5D6A7;
$color--green-dark: #005005;

$color--blue: #2c87db;
$color--blue-light: #84C4FF;
$color--blue-dark: #003069;

$color--red: rgb(173, 34, 34);
$color--red-light: #FF8E8E;
$color--red-dark: #840000;


$color--shadow: rgba(0, 0, 0, 0.5);
$color--black: #000;
$color--white: #fff;

//----------------- FONTS
$font-family--base: 'Roboto', sans-serif;


//----------------- SIZES/LENGTHS
$size--border-radius: .5em;


